body {
    background-color: black;
    display: block;
    
}

header {
    font-family: 'Nosifer', sans-serif;
    text-align: center;
    color: red;
    background-color: black;
}

.navbar {
    background-color: black;
    text-transform: uppercase;
    color: white;

}
.brand{
    color: red;
    font-family: 'Nosifer', sans-serif;
    font-size: xx-large;

}

.card{
    width: 18rem;
    margin-block: .5rem;
}
.row{
    margin-block: 1rem;
}
.navbar-nav .nav-link.active {
    font-weight: bold;
}

#img{
    margin-left: 800px;
}
a {
    text-decoration: none;
    color:red; 
}
#slogan{
    color: red;
    font-size: x-large;
    font-family: 'Averia serif libre';
}
#warning{
    margin-bottom: 80%;
}


p {
    color: white;
    font-size: larger;
}
h2{
    font-family:  'Nosifer', sans-serif;
    color: red;
    background-color: black;
}
#about{
    display: flex;

}
.input-group{
    width: 15%;
    background-color: red;
}


footer {
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
}


